Source: aeltra-repo-keys
Section: admin
Priority: optional
Maintainer: Tobias Koch <tobias.koch@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3

Package: aeltra-repo-keys
Architecture: all
Depends: usign, ${misc:Depends}
Description: Aeltra repository usign signing keys (public keys)
 This package contains the public portion of the repository signing keys of
 the Aeltra distribution generated and processed with the usign utility.
