#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_install:
	install -m 0755 -d debian/aeltra-repo-keys/etc/aept/usign/trustdb
	install -m 0755 -d debian/aeltra-repo-keys/usr/share/aept/usign/aeltra-repo-keys
	install -m 0755 -d debian/aeltra-repo-keys/usr/bin

	install -m 0644 *.pub \
		debian/aeltra-repo-keys/usr/share/aept/usign/aeltra-repo-keys
	install -m 0755 aept-key \
		debian/aeltra-repo-keys/usr/bin
